* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: content-box;
}
img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}
html,
body,
div,
span,
h1,
h2,
p,
a,
ol,
ul,
li,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: "Haas";
  src: url("./assets/fonts/NeueHaasDisplay-Light.ttf");
}
@font-face {
  font-family: "HelveticaNow";
  src: url("./assets/fonts/HelveticaNowDisplay-Bold.ttf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("./assets/fonts/HelveticaNeueLTW0697BlkCnObl.otf");
}
@font-face {
  font-family: "IBMP";
  src: url("./assets/fonts/IBMPlexSans-Light.ttf");
}
body {
  color: #fdfbf5;
  font-size: 20px;
  line-height: 1.5;
  font-family: "Haas", sans-serif;
  font-weight: 700;
  background-image: #ffffff;
  color: black;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 4vw;
  position: relative;
}
.hero--mobile {
  display: none;
}
.hero--mobile h1 {
  color: white;
  line-height: 1.5;
  font-family: "HelveticaNow";
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero__text {
  position: absolute;
  bottom: 24px;
  color: black;
  cursor: default;
}
.hero__description {
  font-size: 36px;
  line-height: 1.5;
  width: auto;
  position: absolute;
  bottom: 32%;
  right: 4vw;
  background-color: #fcf951;
  padding: 8px;
  text-transform: uppercase;
}
.bio {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15vw;
  background-image: url("./assets/images/IMG_0162.jpg");
  background-size: cover;
}
.bio__text {
  font-size: 24px;
  font-family: "IBMP";
  width: 40vw;
  letter-spacing: 1.7px;
  line-height: 1.5;
  cursor: default;
  color: white;
}
.bio__text:nth-child(2) {
  margin: 48px 0;
}
.bio__text a,
.bio-text span {
  cursor: pointer;
  text-decoration: none;
  color: #fcf951;
}
.portfolio,
.portfolio-wrapper {
  display: flex;
  align-items: center;
}
.portfolio {
  height: 95vh;
  position: relative;
}
.portfolio-wrapper {
  padding: 0 4vw;
  flex-wrap: wrap;
}
.portfolio-section {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 8px;
}
.portfolio__text {
  color: black;
  letter-spacing: 1.2px;
  text-align: left;
  cursor: default;
  transition: 0.3s ease-in;
  opacity: 1;
  line-height: 1.5;
}
.portfolio__text--selected {
  color: #a0a0a0;
  z-index: 4;
}
.portololio__skill {
  color: black;
  transition: 0.7s ease-in-out;
}
.text-navigation {
  color: #a0a0a0;
}
.year {
  width: 10%;
}
.title {
  width: 20%;
}
.skills {
  width: 20%;
  padding-right: 36px;
}
.description {
  width: 35%;
  padding-right: 36px;
}
.links {
  width: 15%;
}
.portfolio__link {
  color: black;
  transition: 0.3s ease-in;
  cursor: pointer;
  text-decoration: none;
}
.portfolio__link:hover {
  color: #f42e0e;
  font-size: 24px;
}
footer {
  height: 5vh;
}
.ticker {
  width: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 10px 0;
}
.ticker--top {
  top: 0px;
  left: 0px;
  border-top: 1px solid #f42e0e;
}
.ticker__text {
  display: flex;
  text-transform: uppercase;
}
.ticker__text span {
  width: 400px;
  display: inline-block;
  flex: 0 0 auto;
  letter-spacing: 1.3px;
}
.progress-bar,
.socials {
  height: 40px;
  position: fixed;
  top: 24px;
  display: flex;
  align-items: center;
}
.progress-bar {
  width: 100px;
  background-color: #fcf951;
  left: 24px;
  justify-content: center;
}
.socials {
  opacity: 0;
  z-index: -1;
  left: 200px;
  transition: 0.4s ease-in;
}
.socials__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials__nav ul li {
  list-style-type: none;
  margin-right: 80px;
}
.socials__nav ul li a {
  text-decoration: none;
  color: black;
}
.nav__item--selected {
  color: #f42e0e;
}
.nav__item {
  color: black;
}
.nav__item,
.nav__item--selected {
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in;
}
.mobile-only,
.portfolio--mobile {
  display: none;
}
li p {
  cursor: pointer;
}
@media only screen and (min-width: 1040px) and (max-width: 1440px) {
  body,
  .bio__text {
    font-size: 16px;
    line-height: 1.5;
  }
  .bio {
    background-position: 57% 100%;
  }
  .hero__description {
    font-size: 24px;
    bottom: 27%;
  }
}
@media only screen and (min-width: 1040px) and (max-width: 1199px) {
  .hero {
    display: none;
  }
  .hero--mobile {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero--mobile h1 {
    font-size: 84px;
    color: black;
  }
  .bio {
    background-size: cover;
    background-position: 90% 50%;
  }
}

@media only screen and (min-width: 701px) and (max-width: 1039px) {
  .hero__text {
    display: none;
  }
  body,
  .bio__text {
    font-size: 14px;
    line-height: 1.5;
  }
  .hero {
    display: none;
  }
  .hero--mobile {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero--mobile h1 {
    font-size: 84px;
    color: black;
  }
  .bio {
    height: 84vh;
    background-position: 57% 100%;
    padding-right: 36px;
    background-size: cover;
  }
  .bio__text {
    width: 350px;
  }
  .portfolio-section {
    padding-top: 12px;
  }
  .portfolio__text {
    line-height: 1.5;
  }
  .skills,
  .description,
  .title {
    padding-right: 12px;
  }
  .socials__nav ul li {
    margin-right: 36px;
  }
  .progress-bar,
  .socials {
    top: 17.5px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 701px) {
  body {
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 1.5;
  }
  .hero__text,
  .progress-bar,
  .socials {
    display: none;
  }
  .mobile-only__text--absolute {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
  .hero {
    display: none;
  }
  .hero--mobile {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero--mobile h1 {
    font-size: 72px;
  }
  .bio {
    padding: 0 0;
    background-image: none;
  }
  .photo--mobile {
    margin-top: 56px;
    display: block;
    height: 400px;
    width: 100%;
    background-image: url("./assets/images/img-mobile.jpg");
    background-size: cover;
  }
  .bio {
    height: auto;
    background-color: black;
  }
  .bio__text {
    padding: 0 4vw;
    width: calc(100% - 8vw);
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 1.5;
  }
  .bio-text {
    padding-top: 64px;
    padding-bottom: 36px;
  }
  .bio__text:nth-child(2) {
    margin: 24px 0;
  }
  .portfolio {
    display: none;
  }
  .ticker {
    width: auto;
  }
  h2 {
    font-size: 24px;
    line-height: 1.5;
  }
  .portfolio--mobile {
    display: block;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .portfolio--mobile h2 {
    position: absolute;
    top: 60px;
  }
  .portfolio--section {
    padding-top: 12px;
    padding-bottom: 16px;
  }
  .portfolio__iteam--mobile a {
    color: #fcf951;
    text-decoration: none;
    font-size: 24px;
    line-height: 1.5;
  }
  .portfolio__iteam--mobile p span {
    margin-left: 12px;
  }
  .portfolio__iteam--mobile p {
    margin-bottom: 8px;
  }
  footer {
    height: 5vh;
  }
}
@media only screen and (min-width: 548px) and (max-width: 701px) {
  .hero--mobile {
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero--mobile h1 {
    font-size: 84px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 461px) {
  .hero--mobile {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero--mobile h1 {
    font-size: 50px;
    height: 89px;
  }
  .portolio-section--mobile {
    padding: 0 4vw;
  }
}
