* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: content-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: "Haas";
  src: url("./assets/fonts/NeueHaasDisplay-Light.ttf");
}
@font-face {
  font-family: "HelveticaNow";
  src: url("./assets/fonts/HelveticaNowDisplay-Bold.ttf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("./assets/fonts/HelveticaNeueLTW0697BlkCnObl.otf");
}
body {
  color: #fdfbf5;
  font-size: 20px;
  font-family: "Haas", sans-serif;
  font-weight: 700;
  background-image: #ffffff;
  color: black;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 0 4vw;
  cursor: default;
}
.hero h1 {
  color: black;
  font-size: 15vw;
  font-family: "HelveticaNow";
  letter-spacing: -0.5vw;
  width: auto;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.hero__svg {
  background-image: url("./assets/icons/Group.svg");
  width: 250px;
  height: 200px;
  background-size: cover;
  animation-name: spin;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hero__text {
  position: absolute;
  bottom: 24px;
  color: #1f3f9d;
  cursor: default;
}

/* bio */
.bio {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bio__text {
  font-size: 24px;
  font-family: "Haas";
  width: 40vw;
  letter-spacing: 1.5px;
  line-height: 32px;
  cursor: default;
  width: 600px;
}
.bio__text a {
  text-decoration: none;
  color: #b63951;
}

/* portfolio  */

.portfolio {
  height: 60vh;
  position: relative;
}
.portfolio-wrapper {
  padding: 0 4vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio-section {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 8px;
}
.portfolio__text {
  letter-spacing: 1.2px;
  text-align: left;
  cursor: default;
}
.text-navigation {
  color: #a0a0a0;
}
.year {
  width: 10%;
}
.title {
  width: 20%;
}
.skills {
  width: 20%;
}
.description {
  width: 35%;
}
.links {
  width: 15%;
}
.portfolio__link {
  color: black;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.portfolio__link:hover {
  color: #1f3f9d;
}
/* footeer */
.ticker {
  width: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 10px 0;
  /* background-color: #6a696a; */
}
.ticker--top {
  top: 0px;
  left: 0px;
  border-top: 1px solid #b63951;
}
.ticker__text {
  display: flex;
  text-transform: uppercase;
}
.ticker__text span {
  width: 400px;
  display: inline-block;
  flex: 0 0 auto;
  letter-spacing: 1.3px;
}

/* three */
.mister {
  height: 100px;
  width: 300px;
  position: static;
}

#hello {
  height: 100vh;
  width: 100vw;
}
/* preogress-bar  */
.progress-bar {
  width: 100px;
  height: 40px;
  background-color: #b63951;
  position: fixed;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* social */

.socials {
  opacity: 0;
  z-index: -1;
  height: 40px;
  position: fixed;
  top: 24px;
  left: 200px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in;
}
.socials__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials__nav ul li {
  list-style-type: none;
  margin-right: 80px;
}
.socials__nav ul li a {
  text-decoration: none;
  color: black;
}
