* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: content-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: "DMSerifDisplay";
  src: url("./assets/fonts/DM_Serif_Display/DMSerifDisplay-Italic.ttf");
}
@font-face {
  font-family: "Nimbus";
  src: url("./assets/fonts/nimbus-sans/NimbusSanL-Reg.otf");
}
body {
  background-color: #0c333a;
  color: #e0e6e7;
  font-family: Nimbus;
  font-size: 20px;
}
.hero {
  height: 50vh;
  padding: 0 24px;
  padding-top: 200px;
}
.hero__text {
  font-family: DMSerifDisplay;
  font-size: 40px;
}
.social__link,
.header__text {
  color: #abed97;
  text-transform: uppercase;
}
.social__link {
  text-decoration: none;
  transition: 0.2s ease-in;
}
.social__link:hover {
  opacity: 0.6;
  font-size: 22px;
}
.social__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0 24px;
}
/* header */
.ticker {
  background-color: black;
  width: 100%;
  overflow: hidden;
  background-color: black;
  position: fixed;
  z-index: 2;
}
.ticker--top {
  top: 0px;
  left: 0px;
}
.ticker--bottom {
  color: green;
  bottom: 0px;
  left: 0px;
}
.ticker__text {
  display: flex;
}
.ticker__text span {
  background-color: red;
  width: 400px;
  display: inline-block;
  flex: 0 0 auto;
}
/* hero-text */
.hero__text {
  width: 55vw;
}
.hero__text:nth-child(1),
.hero__text:nth-child(2) {
  margin-bottom: 40px;
}
.hero__text a {
  text-decoration: none;
}
.hero__text span,
.hero__text a {
  color: #abed97;
}
/* social grid */
.social__grid {
  padding: 200px 24px 20px 24px;
}
/* portfolio */
.portfolio {
  padding: 0 24px;
}
.portfolio__grid--no-border,
.portfolio__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.portfolio__grid {
  padding-bottom: 20px;
  border-bottom: #abed97 2px solid;
}
.portfolio__text {
  color: #e0e6e7;
  text-transform: capitalize;
}
.portfolio__section,
.portfolio__item {
  display: flex;
}
.portfolio__icon {
  background-image: url("./assets/Vector.svg");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(325deg);
}

/* footer */
.website__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}
