* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: content-box;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
iframe {
  vertical-align: bottom;
  max-width: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: "Haas";
  src: url("./assets/fonts/NeueHaasDisplay-Light.ttf");
}
@font-face {
  font-family: "HelveticaNow";
  src: url("./assets/fonts/HelveticaNowDisplay-Bold.ttf");
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("./assets/fonts/HelveticaNeueLTW0697BlkCnObl.otf");
}
body {
  color: #fdfbf5;
  font-size: 20px;
  line-height: 28px;
  font-family: "Haas", sans-serif;
  font-weight: 700;
  background-image: #ffffff;
  color: black;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
  padding: 0 4vw;
  cursor: default;
}
.hero h1 {
  color: black;
  font-size: 15vw;
  line-height: normal;
  font-family: "HelveticaNow";
  letter-spacing: -0.5vw;
  width: auto;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.hero__svg {
  background-image: url("./assets/icons/Group.svg");
  width: 250px;
  height: 250px;
  background-size: cover;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero__text {
  position: absolute;
  bottom: 24px;
  color: black;
  cursor: default;
}
.photo--mobile {
  display: none;
}
.bio {
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 15vw;
  background-image: url("./assets/images/IMG_0162.jpg");
  background-size: cover;
}
.bio__text {
  font-size: 24px;
  font-family: "Haas";
  width: 30vw;
  letter-spacing: 1.7px;
  line-height: 32px;
  cursor: default;
  color: white;
}
.bio__text a {
  text-decoration: none;
  color: #fcf951;
}
/* portfolio  */
.portfolio {
  height: 95vh;
  position: relative;
  display: flex;
  align-items: center;
}
.portfolio-wrapper {
  padding: 0 4vw;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.portfolio-section {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 8px;
}
.portfolio__text {
  color: black;
  letter-spacing: 1.2px;
  text-align: left;
  cursor: default;
  transition: 0.3s ease-in;
  opacity: 1;
  line-height: 28px;
}
.portfolio__text--selected {
  color: #a0a0a0;
  z-index: 4;
}
.portololio__skill {
  color: black;
  transition: 0.7s ease-in-out;
}
.text-navigation {
  color: #a0a0a0;
}
.year {
  width: 10%;
}
.title {
  width: 20%;
}
.skills {
  width: 20%;
  padding-right: 36px;
}
.description {
  width: 35%;
  padding-right: 36px;
}
.links {
  width: 15%;
}
.portfolio__link {
  color: black;
  transition: 0.3s ease-in;
  cursor: pointer;
  text-decoration: none;
}
.portfolio__link:hover {
  color: #f42e0e;
  font-size: 24px;
}
/* footeer */
footer {
  height: 5vh;
}
.ticker {
  width: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 10px 0;
  /* background-color: #6a696a; */
}
.ticker--top {
  top: 0px;
  left: 0px;
  border-top: 1px solid #f42e0e;
}
.ticker__text {
  display: flex;
  text-transform: uppercase;
}
.ticker__text span {
  width: 400px;
  display: inline-block;
  flex: 0 0 auto;
  letter-spacing: 1.3px;
}

/* preogress-bar  */
.progress-bar {
  width: 100px;
  height: 40px;
  background-color: #fcf951;
  position: fixed;
  top: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* social */

.socials {
  opacity: 0;
  z-index: -1;
  height: 40px;
  position: fixed;
  top: 24px;
  left: 200px;
  display: flex;
  align-items: center;
  transition: 0.4s ease-in;
}
.socials__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.socials__nav ul li {
  list-style-type: none;
  margin-right: 80px;
}
.socials__nav ul li a {
  text-decoration: none;
  color: black;
}
.nav__item--selected {
  color: #f42e0e;
  padding-bottom: 3px;
  border-bottom: 2px solid #f42e0e;
  transition: 0.3s ease-in;
}
.nav__item {
  color: black;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in;
}
.mobile-only {
  display: none;
}
.portfolio--mobile {
  display: none;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@media only screen and (min-width: 1040px) and (max-width: 1440px) {
  body,
  .bio__text {
    font-size: 16px;
    line-height: 22.4px;
  }
  .hero__svg {
    width: 160px;
    height: 160px;
  }
  .bio {
    background-position: 57% 100%;
  }
}
@media only screen and (min-width: 701px) and (max-width: 1039px) {
  .hero__text,
  .hero__svg {
    display: none;
  }
  body,
  .bio__text {
    font-size: 14px;
    line-height: 20px;
  }
  .hero {
    height: 16vh;
  }
  .bio {
    height: 84vh;
    background-position: 57% 100%;
    padding-right: 36px;
  }
  .bio__text {
    width: 350px;
  }
  .portfolio-section {
    padding-top: 12px;
  }
  .portfolio__text {
    line-height: 20px;
  }
  .skills,
  .description,
  .title {
    padding-right: 12px;
  }
  .socials__nav ul li {
    margin-right: 36px;
  }
  .progress-bar,
  .socials {
    top: 17.5px;
  }
}

/* @media only screen and (min-width: 540px) and (max-width: 700px) {
  .hero__text,
  .hero__svg {
    display: none;
  }
  .hero {
    height: 144px;
    height: 14.5vh;
  }
  .body {
    height: 85.5vh;
  }
  body,
  .bio__text {
    font-size: 12px;
    line-height: 18px;
  }
  .bio__text {
    font-size: 14px;
    line-height: 20px;
  }
  .socials__nav ul li {
    margin-right: 26px;
  }
  .bio {
    height: 84vh;
    background-position: 57% 100%;
    padding: 24px;
  }
  .bio__text {
    width: 320px;
  }
  .progress-bar,
  .socials {
    top: 12px;
  }
  .portfolio {
    height: 120vh;
  }
} */

@media only screen and (min-width: 320px) and (max-width: 701px) {
  body {
    background-color: black;
    color: white;
    font-size: 12px;
    line-height: 18px;
  }
  .hero__text,
  .progress-bar,
  .socials,
  .hero__svg {
    display: none;
  }
  .mobile-only__text--absolute {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
  .hero {
    align-items: flex-start;
    height: 89px;
    background-color: white;
    line-height: normal;
  }
  .hero h1 {
    margin-left: 0;
    margin-right: 0;
    font-size: 60px;
  }
  .bio {
    padding: 0 0;
    background-image: none;
  }
  .photo--mobile {
    margin-top: 120px;
    display: block;
    height: 400px;
    width: 100%;
    background-image: url("./assets/images/img-mobile.jpg");
    background-size: cover;
  }
  .bio {
    height: auto;
    background-color: black;
  }
  .bio__text {
    padding: 0 4vw;
    width: calc(100% - 8vw);
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 18px;
  }
  .bio-text {
    padding-top: 64px;
    padding-bottom: 36px;
  }
  .portfolio {
    display: none;
  }
  .ticker {
    width: auto;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .portfolio--mobile {
    display: block;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .portfolio--mobile h2 {
    position: absolute;
    top: 60px;
  }
  .portfolio--section {
    padding-top: 12px;
    padding-bottom: 16px;
  }
  .portfolio__iteam--mobile a {
    color: #fcf951;
    text-decoration: none;
    font-size: 24px;
    line-height: 28px;
  }
  .portfolio__iteam--mobile p span {
    margin-left: 12px;
  }
  .portfolio__iteam--mobile p {
    margin-bottom: 8px;
  }
  footer {
    height: 5vh;
  }
}

@media only screen and (min-width: 320px) and (max-width: 701px) {
  .hero h1 {
    font-size: 50px;
  }
}
@media only screen and (min-width: 548px) and (max-width: 701px) {
  .hero {
    height: 151px;
  }
  .hero h1 {
    font-size: 84px;
  }
}
